@page
@model Kuutioiden_varausnäkymä.Pages.Kuutiot.SetupModel
@{
    ViewData["Title"] = "Setup";
}
<h1>Setup</h1>
<table>
    @SetupModel.CallGet()
    @foreach (string varaus in SetupModel.Neptunus)
    {
        <tr><th>@varaus</th></tr>
    }
</table>