@page
@model IndexModel
@{
    ViewData["Title"] = "Valikko";
}
<div class="text-center">
    <h1 class="display-4">Valikko</h1>
    <p></p>
</div>
<p class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Kuutiot/Jupiter">Jupiter</a>
</p>
<p class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Kuutiot/Merkurius">Merkurius</a>
</p>
<p class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Kuutiot/Neptunus">Neptunus</a>
</p>
<p class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Kuutiot/Saturnus">Saturnus</a>
</p>
<p class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Kuutiot/Quu">Quu</a>
</p>
<p class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Kuutiot/Setup">Setup</a>
</p>